<br><br><br><br>
<div class="container-fluid">
    <app-editor [data]="products" *ngIf="vieweditor"></app-editor>
</div>
<br><br>
<div class="container" *ngIf="hidesavecloth">
        <div class="row">
            <div class="col-6 " >
                <!-- Save Cloth -->
                <div class="container mt-3">
                   
                    <h4>Details Du Produits Vetement</h4>
                    <form>
                        <div class="mb-3 mt-3">
                            <label for="name">Nom De l'article:</label>
                            <input type="name" class="form-control" id="name" placeholder="Nom du produit" name="name" [(ngModel)]="articlename">
                        </div>
                        <div class="mb-3">
                            <label for="price">Prix:</label>
                            <input type="text" class="form-control" id="price" placeholder="Le prix" name="price" [(ngModel)]="price">
                        </div>
                        <div class="mb-3">
                            <label for="price">Prix Promo:</label>
                            <input type="text" class="form-control" id="ppromo" placeholder="Prix Promotionnel" name="ppromo" [(ngModel)]="promoprice">
                        </div>
                        <div class="mb-3">
                            <label for="Dimension">Taille:</label>
                            <div class="form-check form-switch">
                                <label class="form-check-label" for="">S</label>
                                <input class="form-check-input" type="checkbox" id="45" (click)="watchS1()">
                            </div>
                            <div class="form-check form-switch">
                                <label class="form-check-label" for="">M</label>
                                <input class="form-check-input" type="checkbox" id="45" (click)="watchS2()">
                            </div>
                            <div class="form-check form-switch">
                                <label class="form-check-label" for="">L</label>
                                <input class="form-check-input" type="checkbox" id="45" (click)="watchS3()">
                            </div>
                            <div class="form-check form-switch">
                                <label class="form-check-label" for="">XL</label>
                                <input class="form-check-input" type="checkbox" id="45" (click)="watchS4()">
                            </div>
                            <div class="form-check form-switch">
                                <label class="form-check-label" for="">XXL</label>
                                <input class="form-check-input" type="checkbox" id="45" (click)="watchS5()">
                            </div>
                            <div class="form-check form-switch">
                                <label class="form-check-label" for="">XXXL</label>
                                <input class="form-check-input" type="checkbox" id="45" (click)="watchS6()">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="quantity">Quantité:</label>
                            <input type="text" class="form-control" id="qty_vet" placeholder="Quantité" name="ppromo" [(ngModel)]="quantity">
                        </div>
                        <div class="mb-3">
                            <label for="matiere">Matière:</label>
                            <input type="text" class="form-control" id="matiere" placeholder="Matière" name="matière" [(ngModel)]="material">
                        </div>
                        <label for="comment">Description:</label>
                        <textarea class="form-control" rows="5" id="description" name="text" [(ngModel)]="details"></textarea>
                        Type:
                        <select class="form-select"(change)="changetype($event)">
                            <option value="choix du type"></option>
                            <option *ngFor="let item of types" [value]="item">{{item}}</option>
                            <option></option>
                           
                        
                        </select>
                        <div class="visuel" >
                            <h6>importer votre face avant</h6>
                            <div class="btn btne">
                                <label class="des" for="filess">
                                    Face avant
                                    <i class="fas fa-arrow-circle-up fa-2x"></i>
                                </label>
                                <input type="file" name="u" id="filess" hidden  (change)="UploadImage($event)">
                            </div>
                        </div>
                        <div class="question">
                            <h6>Y'a-t-il une face arrière?</h6>
                            <div class="oui">
                                <label for="">Oui</label>
                                <input type="radio" name="rd" id="rd" (click)="View1()">
                            </div>
                            <div class="oui">
                                <label for="">Non</label>
                                <input type="radio" name="rd" id="non" (click)="View2()">
                            </div>
                        </div>
                        <!--fin-->
                        <!--visuel-->
                        
                        <!--fin--> 
            
                        <!--maquette-->
                        <div class="FaceBack" *ngIf="visible">
                            <h6>Importer votre face arriere:</h6>
                            <div class="btn" >
                                <label class="des" for="file">
                                    Face arrière
                                    <i class="fas fa-arrow-circle-up fa-2x"></i>
                                </label>
                                <input type="file" name="" id="file" hidden (change)="Uploade($event)" >
                            </div>
                            
                        </div>

                    </form>

                </div>

            </div>
    </div>
    <div class="col-6 image">

        <h4>Votre Face Avant</h4>
        <img [src]="viewimage" width="100" alt="">
        <br><br><br>
       
    </div>
   
    <div class="col-6  img">

        <h4>Votre Face arrière</h4>
        <img [src]="viewi" width="100" alt="">
        <br><br><br>
      
    </div>
    <div class="btn ">
        <a role="button" (click)="Editmodels($event)"> Editer</a>
    </div>
    <div class="btn ">
        <a role="button" >retour</a>
    </div>
</div>

  
