<div class="row">
    <div class="head" style="text-align: center;">
    <h6>Se connecter</h6>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="">E-mail</label>
            <input type="email" name="" class="form-control" id="">
        </div>
         <div class="form-group">
            <label for="">Password</label>
            <input type="password" name="" class="form-control" id="">
        </div>
        
    </div>
   <a class="btn" href="./shared/header" > se connecter</a>
 </div>


