<br>
<br>
<br>
<br>
<style>
    html{
        background: green;
        height: 900px;
    }
</style>
<div class="container">
    <div class="row" style="border: solid 1px red;">
       <h5>Choisissez la Categorie de produits a inserer</h5>
       <div class="col-6">
           <select name="" id="" class="form-control">
               <option value="">Vetements</option>
               <option value="">Gadgets</option>
               <option value="">Affichages</option>
               <option value="">Emballages</option>
               <option value="">Imprimer</option>
           </select>
           <div class="face1 btn">
           <label for="file">
               <a role="button">Importer la face avant</a>
           </label>
           <input type="file" name="" id="file" hidden="true"> 
          </div>
          <div class="question">
              <h6>y'a-t-il une face arrière?</h6>
              <div class="radi">
                  <label for="">Oui</label>
                  <input type="radio" name="radio"  id="radio">
              </div>
              <div class="radi">
                <label for="">non</label>
                <input type="radio" name="radio" id="rad"  >
            </div>
          </div>

           <div class="foce2 btn" >
           <label for="file2"><a role="button">importer la face arriere</a> </label>
           
           <input type="file" name="" id="file2"  hidden="true">
        </div>
       </div>
    </div>
</div>
