
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/"> 
      <img src="assets/images/logoblanc.png" width="150" alt="">
    </a>
    <a class="navbar-brand" role="button" (click)="showcloth()"> 
     Vetements
    </a>
    <a class="navbar-brand" role="button" (click)="showpack()"> 
     Emballages
    </a>
    <a class="navbar-brand" role="button" (click)="showgadget()"> 
      Gadgets
     </a>
     <a class="navbar-brand" role="button" (click)="showprint()"> 
     Imprimés
     </a>
     <a class="navbar-brand" role="button" (click)="showdisp()"> 
      Affichages
     </a>
  </div>

 
</nav>

<app-formclothes *ngIf="hidecloth" [categorie]="cat"></app-formclothes>
<app-formpackages *ngIf="hidepacks" [categorie]="cat"></app-formpackages>
<app-formprinted *ngIf="hideprint" [categorie]="cat" ></app-formprinted>
<app-formdisps *ngIf="hidedisp"  [categorie]="cat" ></app-formdisps>
<app-formgadgets *ngIf="hidegadget" [categorie]="cat" ></app-formgadgets>